In [4]:
import sys
sys.path.append('/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat')
from app.imports.runtime import *
from app.scheduler.mozzarella import *
from app.scheduler.mozzarella.boiling_plan.boiling_plan import (
    cast_boiling_plan,
)

In [36]:
fn = DebugConfig.abs_path(
    "app/data/static/samples/inputs/mozzarella/2021-02-28 План по варкам.xlsx"
)
boiling_plan_df = cast_boiling_plan(fn)
start_times = {LineName.WATER: "02:00", LineName.SALT: "06:00"}

boilings = make_boilings(boiling_plan_df, first_group_id=1)
schedule = make_schedule_from_boilings(
boilings, start_times=start_times
)

/Users/arsenijkadaner/opt/anaconda3/envs/umalat/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/python-utils-ak/utils_ak/fluid_flow/calculations.py:10: RuntimeWarning: All-NaN axis encountered
  return float(np.nanmin(arr))
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
/Users/arsenijkadaner/Yandex.Disk.localized/master/code/git/2020.10-umalat/umalat/app/scheduler/mozzarella/algo/melting_and_packing/pipelines/parallel/parallel.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  value["kg"] = grp["kg"].sum()
2021-05-26 17:24:59.772 | DEBUG    | app.scheduler.mozzarella.algo.schedule.schedule_from_boilings:make_schedule_from_boilings:486 - Extra

In [37]:
boilings = schedule['master']['boiling']
boilings = list(sorted(boilings, key=lambda b: b.x[0]))

In [38]:
boilings[0].props.all()

{'boiling_group_df':    group_id                 sku     kg  original_kg  packing_team_id  \
 0         1  <MozzarellaSKU 50>    4.0          4.0              1.0
 1         1  <MozzarellaSKU 40>  484.0        484.0              1.0
 2         1  <MozzarellaSKU 44>   27.0         27.0              1.0
 3         1  <MozzarellaSKU 45>  117.0        117.0              1.0
 4         1  <MozzarellaSKU 41>  368.0        368.0              1.0

                  boiling                       bff configuration cleaning  \
 0  <MozzarellaBoiling 4>  <MozzarellaFormFactor 7>          8000
 1  <MozzarellaBoiling 4>  <MozzarellaFormFactor 7>          8000
 2  <MozzarellaBoiling 4>  <MozzarellaFormFactor 7>          8000
 3  <MozzarellaBoiling 4>  <MozzarellaFormFactor 7>          8000
 4  <MozzarellaBoiling 4>  <MozzarellaFormFactor 7>          8000

    sheet                line boiling_volumes  \
 0      0  <MozzarellaLine 2>        [1000.0]
 1      0  <MozzarellaLine 2>        [1000.0]
 2      0  <MozzarellaLine 2>        [1000.0]
 3      0  <MozzarellaLine 2>        [1000.0]
 4      0  <MozzarellaLine 2>        [1000.0]

                                                                                    sku_name
 0    Моцарелла в воде Фиор Ди Латте без лактозы "ВкусВилл", 45%, 0,125/0,225 кг, ф/п (8 шт)
 1  Моцарелла в воде Фиор Ди Латте без лактозы “Unagrande", 45%, 0,125/0,225 кг, ф/п, (8 шт)
 2                  Моцарелла Фиор ди Латте в воде "Красная птица", 45%, 0,125/0,225 кг, ф/п
 3                      Моцарелла Фиор ди латте в воде "Fine Life", 45%, 0,125/0,225 кг, ф/п
 4                 Моцарелла Фиор Ди Латте в воде "Pretto", 45%, 0,125/0,225 кг, ф/п, (8 шт)  ,
 'date': datetime.datetime(2021, 5, 26, 17, 24, 59, 272183),
 'boiling_volume': 1000.0,
 'size': SimpleVector([0, 0]),
 'x_rel': SimpleVector([0, 0]),
 'boiling_model': <MozzarellaBoiling 4>,
 'boiling_id': 1,
 'x': SimpleVector([0, 0]),
 'cls': 'boiling',
 'is_parent_node': False,
 'sheet': 0,
 'axis': 0,
 'pouring_line': '0',
 'drenator_num': '0'}

In [53]:
values = [[b1['pouring']['first']['termizator'].x[0],
           b1['pouring']['first']['termizator'].y[0],
          b1.props['boiling_group_df'].iloc[0]['group_id'],
          b1.props['boiling_group_df'].iloc[0]['line'].name]
          for b1, b2 in iter_pairs(boilings, method='any_suffix')]

In [54]:
df = pd.DataFrame(values, columns=['x', 'y', 'group_id', 'line_name'])

In [55]:
df

      x    y  group_id         line_name
0     0    6         1  Моцарелла в воде
1    16   22         7         Пицца чиз
2    22   28         2  Моцарелла в воде
3    34   40         8         Пицца чиз
4    41   47         3  Моцарелла в воде
5    52   58         9         Пицца чиз
6    58   64         4  Моцарелла в воде
7    69   75        10         Пицца чиз
8    75   81         5  Моцарелла в воде
9    85   91        11         Пицца чиз
10   91   97         6  Моцарелла в воде
11  101  107        12         Пицца чиз
12  111  117        13         Пицца чиз
13  124  130        14         Пицца чиз
14  135  141        15         Пицца чиз
15  146  152        16         Пицца чиз
16  157  163        17         Пицца чиз
17  168  174        18         Пицца чиз
18  179  185        19         Пицца чиз
19  190  196        20         Пицца чиз
20  201  207        21         Пицца чиз

In [66]:
df['time_till_next_boiling'] = (df['x'].shift(-1) - df['y']).fillna(0).astype(int)

In [67]:
df

      x    y  group_id         line_name  time_till_next_boiling
0     0    6         1  Моцарелла в воде                      10
1    16   22         7         Пицца чиз                       0
2    22   28         2  Моцарелла в воде                       6
3    34   40         8         Пицца чиз                       1
4    41   47         3  Моцарелла в воде                       5
5    52   58         9         Пицца чиз                       0
6    58   64         4  Моцарелла в воде                       5
7    69   75        10         Пицца чиз                       0
8    75   81         5  Моцарелла в воде                       4
9    85   91        11         Пицца чиз                       0
10   91   97         6  Моцарелла в воде                       4
11  101  107        12         Пицца чиз                       4
12  111  117        13         Пицца чиз                       7
13  124  130        14         Пицца чиз                       5
14  135  141        15         Пицца чиз                       5
15  146  152        16         Пицца чиз                       5
16  157  163        17         Пицца чиз                       5
17  168  174        18         Пицца чиз                       5
18  179  185        19         Пицца чиз                       5
19  190  196        20         Пицца чиз                       5
20  201  207        21         Пицца чиз                       0

In [152]:
df['is_water_done'] = df['line_name']
df['is_water_done'] = np.where(df['is_water_done'] == 'Моцарелла в воде', True, np.nan)
df['is_water_done'] = df['is_water_done'].fillna(method='bfill')
df['is_water_done'] = df['is_water_done'].shift(-1).fillna(0)
df['is_water_done'] = df['is_water_done'].astype(bool)
df['is_water_done'] = ~df['is_water_done']
df

,x,y,group_id,line_name,time_till_next_boiling,is_water_done
0,0,6,1,Моцарелла в воде,10,False
1,16,22,7,Пицца чиз,0,False
2,22,28,2,Моцарелла в воде,6,False
3,34,40,8,Пицца чиз,1,False
4,41,47,3,Моцарелла в воде,5,False
5,52,58,9,Пицца чиз,0,False
6,58,64,4,Моцарелла в воде,5,False
7,69,75,10,Пицца чиз,0,False
8,75,81,5,Моцарелла в воде,4,False
9,85,91,11,Пицца чиз,0,False
10,91,97,6,Моцарелла в воде,4,True
11,101,107,12,Пицца чиз,4,True
12,111,117,13,Пицца чиз,7,True
13,124,130,14,Пицца чиз,5,True
14,135,141,15,Пицца чиз,5,True
15,146,152,16,Пицца чиз,5,True
16,157,163,17,Пицца чиз,5,True
17,168,174,18,Пицца чиз,5,True
18,179,185,19,Пицца чиз,5,True
19,190,196,20,Пицца чиз,5,True
20,201,207,21,Пицца чиз,0,True

In [76]:
cast_t('12:00')

144

In [170]:
def is_cleaning_combination_fit(cleaning_combination):
    separators = [-1] + list(cleaning_combination) + [20]
    print(separators)
    for s1, s2 in iter_pairs(separators):
        group = df.loc[s1 + 1:s2]
        
        group_length = group.iloc[-1]['y'] - group.iloc[0]['x']
        if group_length > cast_t('12:00'):
            return False
    return True

In [173]:
is_cleaning_combination_fit([])

[-1, 20]

False

In [174]:
n_cleanings = 0

In [175]:
list(itertools.combinations(range(3), 2))

[(0, 1), (0, 2), (1, 2)]

In [176]:
list(itertools.combinations(range(3), 0))

[()]

In [177]:
available_combinations = [combo for combo in itertools.combinations(range(len(df) - 1), n_cleanings) if is_cleaning_combination_fit(combo)]

[-1, 20]

In [178]:
len(available_combinations)

0

In [154]:
values1 = [[combo, sum(df.loc[s]['time_till_next_boiling'] for s in combo), df.loc[combo[0]]['is_water_done']] for combo in available_combinations]
df1 = pd.DataFrame(values1, columns=['combo', 'total_time_till_next_boilings', 'is_water_done'])
df1

   combo  total_time_till_next_boilings  is_water_done
0   (6,)                              5          False
1   (7,)                              0          False
2   (8,)                              4          False
3   (9,)                              0          False
4  (10,)                              4           True
5  (11,)                              4           True
6  (12,)                              7           True
7  (13,)                              5           True
8  (14,)                              5           True

In [157]:
df1 = df1.sort_values(by=['total_time_till_next_boilings'], ascending=False)
df1 = df1.sort_values(by=['is_water_done'], ascending=False)
df1

   combo  total_time_till_next_boilings  is_water_done
6  (12,)                              7           True
7  (13,)                              5           True
8  (14,)                              5           True
4  (10,)                              4           True
5  (11,)                              4           True
0   (6,)                              5          False
2   (8,)                              4          False
1   (7,)                              0          False
3   (9,)                              0          False

In [159]:
combo = df1.iloc[0]
combo

combo                            (12,)
total_time_till_next_boilings        7
is_water_done                     True
Name: 6, dtype: object