In [1]:
import re
import pandas as pd
import formulas

In [3]:
df = pd.read_excel(r'plan_2020-11-24.xlsx', sheet_name='планирование суточное')

In [5]:
df[df[df.columns[9]].notna()][df.columns[9:13]]

                                Unnamed: 9  Unnamed: 10  Расчет  План
0    2.7% варка, Альче, Лактоза True, Id 1          NaN     NaN   NaN
1    2.7% варка, Сакко, Лактоза True, Id 2          NaN     NaN   NaN
3                              Объем варки          NaN   850.0   NaN
11  3.6% варка, Сакко, Лактоза True, Id 10          NaN     NaN   NaN
12   3.6% варка, Альче, Лактоза True, Id 9          NaN     NaN   NaN
14                             Объем варки          NaN   850.0   NaN
17   2.7% варка, Альче, Лактоза True, Id 1          NaN     NaN   NaN
19                             Объем варки          NaN   850.0   NaN
22   3.6% варка, Альче, Лактоза True, Id 9          NaN     NaN   NaN
23   3.3% варка, Альче, Лактоза True, Id 5          NaN     NaN   NaN
24   3.3% варка, Сакко, Лактоза True, Id 6          NaN     NaN   NaN
26                             Объем варки          NaN  1000.0   NaN
32   2.7% варка, Сакко, Лактоза True, Id 2          NaN     NaN   NaN
33   2.7% варка, Альче, Лактоза True, Id 1          NaN     NaN   NaN
34  2.7% варка, Альче, Лактоза False, Id 3          NaN     NaN   NaN
36                             Объем варки          NaN   850.0   NaN
47   3.6% варка, Альче, Лактоза True, Id 9          NaN     NaN   NaN
48  3.3% варка, Альче, Лактоза False, Id 7          NaN     NaN   NaN
49   3.3% варка, Альче, Лактоза True, Id 5          NaN     NaN   NaN
50   3.3% варка, Сакко, Лактоза True, Id 6          NaN     NaN   NaN
52                             Объем варки          NaN  1000.0   NaN

In [3]:
from pycel import ExcelCompiler

In [4]:
path = r'plan_2020-11-24.xlsx'
excel = ExcelCompiler(filename=path)

In [7]:
excel.evaluate("'планирование суточное'!L2")

3.254282352941175

In [11]:
x = {'sheet': 1, 'tmp': {'x': 1, 0: 2}}

In [13]:
x['tmp'][0]

2

In [15]:
for key in x.keys():
    print(x[key])

1
{'x': 1, 0: 2}

In [16]:
isint(1)

NameError: name 'isint' is not defined

In [18]:
isinstance('2', int)

False

In [19]:
'222'.isdigit()

True

In [22]:
x = [2, '2']

[t for t in x if isinstance(t, int) or t.isdigit()]

[2, '2']

In [23]:
int(2)

2